/* INSTRUCTIONS
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
  /* margin: 0 auto; */
  background: #23424a;
  color: white;
  padding: 50px 20%;
}

.intro-content {
  background-color: pink;
  width: 50%;
}

.container1 {
  width: 100%;
  background-color: yellow;
  padding: 0px 20%;
  /* border: 5px solid black; */
}

.intro-content1 {
  background-color: green;
  width: 80%;
  max-width: 600px;
  border: 15px solid black;
}

/* Conversation on Kevin Powell Discord Community */
/* https://discord.com/channels/436251713830125568/535502841943687179/872325414020874293 */
/* https://discord.com/channels/436251713830125568/535502841943687179/872859110314479616 */
